.cp-nav-menu {
  list-style: none; }

.cp-nav-link {
  text-decoration: none;
  cursor: pointer; }

input[type=text] {
  width: 25%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; }

input[type=text]:focus {
  border: 3px solid #555; }

.cp-search-picture {
  margin: auto;
  display: block; }

.cp-picture-item {
  text-align: center;
  background-color: #ffffff;
  width: 400px;
  margin: 30px; }

.cp-pictures-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #dcdbdc; }
