.cp-nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;

    .cp-nav-link-wrapper {
        font-family: century gothic;
        font-size: 1.3em;
    }

    .cp-nav-link {
        text-decoration: none;
        cursor: pointer;
        display: block;
        padding: 1em;
        color: white;
    }

    .cp-nav-link-active {
        background-color: #ff8f21;
        color: white;
    }

    .cp-nav-link:hover {
        background-color: #e8994b;
    }

    .cp-nav-link-signup {
        position: absolute;
        right: 0;
    }
}
