// для всех стилей нужно писать префикс cp- от "Creative person"

.cp-gallery {

}

.cp-search-picture {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.cp-pictures-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.cp-picture-item {
    text-align: center;
    background-color: #ffffff;
    width: 400px;
    margin: 30px;
    cursor: pointer;
}

// modal form add picture
.cp-form-add-picture {
    width: 255px;
    margin: auto;
    margin-top: 20px;
}

.cp-form-add-picture-body {
    background-color: #ffffff;
    padding: 15px;
}

.cp-form-body-field {
    font-size: 1.1em;
}

.errors {
    .cp-form-body-label {
        color: #c55151;
    }

    .cp-form-body-input {
        background-color: #fde6e6;
        border-color: #ca8989;
    }

    .cp-form-body-span {
        margin-left: 5px;
        color: #c55151;
    }
}

.cp-form-body-label {
    margin-right: 10px;
    display: block;
    padding: 5px;
}

.cp-form-body-input {
    margin: auto;
    margin: 5px;
}

.cp-form-add-picture-button {
    margin: 15px auto;
    display: block;
    background-color: #869fde;
}
