// для всех стилей нужно писать префикс cp- от "Creative person"

.cp-link-picture {
    color: black;
}

.cp-search-picture {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.cp-pictures-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.cp-picture-item-template {
    text-align: center;
    background-color: #ffffff;
    width: 400px;
    margin: 30px;
    border-radius: 15px;
}

.cp-picture-single {
    margin: 30px auto;
    max-width: 1000px;

    .cp-picture-single-content {
        display: flex;
        background: white;
        padding: 10px;

        .cp-image {
            width: 600px;
        }

        .cp-info {
            margin-left: 10px;
        }
    }
}

.cp-picture-item {
    @extend .cp-picture-item-template;

    .cp-picture {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .cp-picture-title {
        padding: 10px;
        font-size: 125%;
    }

    .cp-picture-button {
        padding: 8px 10px;
        margin: 10px auto;
    }

    .cp-picture-delete-button {
        @extend .cp-picture-button;
        background-color: #ff5454;
    }

    .cp-picture-update-button {
        @extend .cp-picture-button;
        background-color: #82c774;
        text-decoration: none;
        color: white;
        transition: 0.3s;
    }

    .cp-picture-update-button:hover {
        background-color: #50a23f;
    }

    .cp-picture-delete-button:hover {
        background-color: #de2121;
    }

    .cp-picture-buttons {
        display: inline-flex;
    }
}

// button add picture on gallery page
.cp-gallery-add-picture-button {
    text-align: center;
    background-color: #cccccc;
    width: 400px;
    margin: 30px;
    cursor: pointer;
    margin: 0 auto;
    height: 326px;
    display: flex;
    transition: 0.5s;
    text-decoration: none;
    color: #9e9e9e;
    border-radius: 15px;

    .cp-gallery-add-picture-button-icon {
        margin: auto;
    }
}

.cp-gallery-add-picture-button:hover {
    color: white;
}

// modal form add picture content
.cp-form-add-picture {
    width: 295px;
    margin: auto;
    margin-top: 20px;
    border: 20px solid #869fde;
}

.cp-form-add-picture-body {
    background-color: #ffffff;
    padding: 15px;
}

.cp-form-body-field {
    font-size: 1.1em;
}

.cp-form-body-label {
    margin-right: 10px;
    display: block;
    padding: 5px;
}

.cp-form-body-input {
    margin: auto;
    margin: 5px;
    max-width: 215px;
}

.cp-form-add-picture-button {
    margin: 15px auto;
    display: block;
    background-color: #869fde;
}
