$photos-part-width: 100% / 3;

.cp-photos {
    padding: 15px;
    margin: auto;
	display: inline-block;

    .cp-photos-part {
        padding: 0 8px;
        width: $photos-part-width;
        float: left;
    }

    .cp-photo {
        margin-bottom: 10px;
    }
}
