$form-width: 400px;
$form-background-color: #ffffff;

.cp-form {
    background-color: $form-background-color;
    width: $form-width;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.cp-form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 20px;
}

.cp-form-input {
    padding-left: 46px;
}

.cp-form-input-wrapper {
    position: relative;
    margin: 5px auto;
}

.cp-form-input-icon-wrapper {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 40px;
    height: 42px;
    background-color: #cccccc;
    display: flex;
}

.cp-form-input-icon {
    margin: auto;
    color: #ffffff;
}

.cp-form-button {
    margin: 20px auto;
    display: block;
}

.cp-register-form {
    @extend .cp-form;

    .cp-register-form-body {
        @extend .cp-form-body;
    }

    .cp-register-form-input-wrapper {
        @extend .cp-form-input-wrapper;

        .cp-register-form-input-icon-wrapper {
            @extend .cp-form-input-icon-wrapper;

            .cp-register-form-input-icon {
                @extend .cp-form-input-icon;
            }
        }

        .cp-register-form-input {
            @extend .cp-form-input;
        }
    }

    .cp-register-form-button {
        @extend .cp-form-button;
    }
}

.cp-signin-form {
    @extend .cp-form;

    .cp-signin-form-body {
        @extend .cp-form-body;
    }

    .cp-signin-form-input-wrapper {
        @extend .cp-form-input-wrapper;

        .cp-signin-form-input-icon-wrapper {
            @extend .cp-form-input-icon-wrapper;

            .cp-signin-form-input-icon {
                @extend .cp-form-input-icon;
            }
        }

        .cp-signin-form-input {
            @extend .cp-form-input;
        }
    }

    .cp-signin-form-button {
        @extend .cp-form-button;
    }
}
