.cp-signup-form {
    background-color: #ffffff;
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;

    .cp-signup-form-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }

    .cp-signup-form-input-wrapper {
        position: relative;
        margin: 5px auto;

        .cp-signup-form-input-icon-wrapper {
            position: absolute;
            left: 3px;
            top: 3px;
            width: 39px;
            height: 39px;
            background-color: #cccccc;
            display: flex;

            .cp-signup-form-input-icon {
                margin: auto;
                color: #ffffff;
            }
        }

        .cp-signup-form-input {
            padding-left: 44px;
        }
    }


    .cp-signup-form-button {
        margin: 20px auto;
        display: block;
    }
}
