.cp-sort-pane {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .cp-sort-pane-caption {
        display: inline-flex;

        .cp-sort-pane-caption-text {
            margin: auto;
        }
    }

    .cp-sort-pane-rating {
        padding: 5px;
        background-color: #82c774;
        color: white;
    }
}
