.cp-sort-pane {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .cp-sort-pane-caption {
        display: inline-flex;
        margin: 0 7px;

        .cp-sort-pane-caption-text {
            margin: auto;
        }
    }
}

.cp-dropdown {
    position: relative;
    display: inline-block;
}

.cp-sort-pane-alphabetically-button {
    padding: 8px;
}

.cp-drop-button {
    background-color: #82c774;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 140px;
}

.cp-dropdown:hover .cp-drop-button {
    background-color: #50a23f;
}

.cp-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    z-index: 1;
}

.cp-dropdown-content a {
    color: #4e4e4e;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

.cp-dropdown-content a:hover {
    background-color: #e0e0e0;
}

.cp-dropdown:hover .cp-dropdown-content {
    display: block;
}
