// общие стили для тегов
body {
    background: url(../img/background-cover.jpg) repeat center;
    font-family: Comic Sans MS;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
    letter-spacing: 0.1em;
}

select {
    cursor: pointer;
}

input {
    padding: 8px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    color: #376d37;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #7590ad;
    color: #ffffff;
    font-family: Comic Sans MS;
    font-size: 1em;
    outline: none;
    transition: $time-animation;
}

button:disabled {
    background-color: #ff5454;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ff5454;
}

button:hover {
    background-color: #566a80;
}

hr {
    margin: 0.5em 0;
    border-color: white;
}
