// общие стили для тегов
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dcdbdc;
}

h2 {
    font-family: century gothic;
}

input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #869fde;
    color: #ffffff;
}

button:hover {
    background-color: #3d5590;
}
