// общие стили для тегов
body {
    background: url(../img/background-cover.jpg) repeat center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: century gothic;
    letter-spacing: 0.1em;
}

select {
    cursor: pointer;
}

input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    background-color: #869fde;
    color: #ffffff;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background-color: #3d5590;
}

hr {
    margin: 0.5em 0;
    border-color: white;
}
