$header-height: 70px;
$cover-height: 500px;
$color-app: rgba(0, 0, 0, 0.1);
$color-navigation: rgb(26, 40, 63);
$color-nav-link: rgba(0, 0, 0, 0.2);
$color-nav-link-hover: rgba(0, 0, 0, 0.4);
$color-search-button: rgba(127, 181, 116, 0.9);
$color-search-button-hover: rgba(127, 181, 116, 0.5);
$color-register-signin-hover: rgba(127, 181, 116, 0.9);
$color-backgroud-section: white;

$form-width: 350px;
$form-background-color: rgba(156, 184, 212, 0.7);
$form-border-radius: 5px;
$color-border-input: #8eaac7;
$color-backgroud-modal: rgba(0, 0, 0, 0.8);

$color-picture-background: #e0e0e0;
$color-picture-text: #3c3c3c;

$desktop-width: 1366px;
$notebook-width: 1024px;
$tablet-width: 768px;

$time-animation: 0.3s;
